@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";
@plugin "daisyui";
a.active {
  @apply bg-blue-400;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.contain {
  @apply 
  px-[8vw]
  py-6
  md:py-12
  max-w-[1920px]
  mx-auto;
}

.pt{
  @apply
  pt-6
  md:pt-12;
}

.titles {
  @apply text-xl
  md:text-3xl
  pb-6
  md:pb-12
  font-bold;
}
